.task-container {
    width: 400px;
    height: 400px;
    background-color: #edf7fc;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 5px;
    border: 2px solid rgb(231, 231, 231);
    overflow: auto;
}

.task-count {
    padding-left: 1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaeb;
    background-color: #f9f9fa;
}

.task-header-action {
    height: 50px;
    width: 50px;
    border-radius: 0px  0px 0px 0px;
    border: 1px solid #eaeaeb;
    color: #000;
    font-weight: bold;
}

.plus-style {
    font-size: 2rem;
    color: #000;
    cursor: pointer;
    opacity: 0.7;
}

.plus-style::active {
    opacity: 0.9;
}

.taskitem-box {
    padding: 10px;
}